<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
            <li><a href="/datenschutzerklaerung">Datenschutzerklärung</a>&nbsp;&nbsp;&nbsp;<a href="/impressum">Impressum</a></li>
        </ul>
    </div>

    <div class="social-links">
      <ul class="social-media-list">
        <li>
          <a target="_blank">
            <svg class="svg-icon grey">
              
            </svg>
          </a>
        </li>
      </ul>
    </div>

  </div>

</footer>
